#!/bin/bash
set -e

PLATFORM="$(uname -s | tr '[:upper:]' '[:lower:]')"
KUBERNETES_VERSION=__KUBERNETES_VERSION__
KUB_URL="https://storage.googleapis.com/kubernetes-release/release/v${KUBERNETES_VERSION}/bin/${PLATFORM}/amd64/kubectl"

scream () {
    cat <<< "$@" 1>&2
    exit 1
}

case "$PLATFORM" in
  darwin|linux)
    targetDir="/usr/local/bin"
    ;;
  *)
    scream "Unknown or unsupported platform: ${PLATFORM}"
    ;;
esac

if [[ "$#" -eq 1 && "$1" == "install"  ]] ; then
  echo "Downloading and installing ${PLATFORM} version of 'kubectl' v${KUBERNETES_VERSION} into ${targetDir}. This may take a couple minutes, depending on your internet speed.."
  [ -d ${targetDir} ] || sudo mkdir -p ${targetDir}
  sudo wget -q --no-check-certificate -L -O ${targetDir}/kubectl "${KUB_URL}"
  [ -x ${targetDir}/kubectl ] || sudo chmod +x ${targetDir}/kubectl

  # TODO use sed to replace current values, if any
  echo "Setting environment variables.."
  if ! grep -q 'export FLEETCTL_ENDPOINT=http://172.17.8.101:4001' ~/.bash_profile ; then
    echo "export FLEETCTL_ENDPOINT=http://172.17.8.101:4001" >> ~/.bash_profile
  fi
  if ! grep -q 'export KUBERNETES_MASTER=http://172.17.8.101:8080' ~/.bash_profile ; then
    echo "export KUBERNETES_MASTER=http://172.17.8.101:8080" >> ~/.bash_profile
  fi
  export FLEETCTL_ENDPOINT=http://172.17.8.101:4001
  export KUBERNETES_MASTER=http://172.17.8.101:8080
elif [[ "$#" -eq 1 && "$1" == "uninstall"  ]] ; then
  echo "Removing 'kubectl' v${KUBERNETES_VERSION}.."
  [ -f ${targetDir}/kubectl ] && sudo rm -f ${targetDir}/kubectl
else
  echo "Usage: ./setup (install|uninstall)"
fi
